body {
    background: #1d2028;
    color: #ddd;
    font-family: monospace;
    margin-top: 40px;
}

#container {
    width: 350px;
    margin: auto;
}
.hidden {
    display: none;
}

#status {
    border: 3px solid #435139;
    background: rgb(140, 177, 120);
    color: #435139;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    width: 300px;
}

#board {
    border-collapse: collapse;
    width: 300px;
}

#board td {
    border: 5px solid #ddd;
}

#board div {
    cursor: pointer;
    height: 100px;
    width: 100px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#board div {
    font-size: 100px;
    line-height: 100px;
    text-align: center;
}

#board div:hover {
    background: #ececec;
    color: #1d2028;
}

#player1-label,
#player2-label {
    border: 3px solid #ddd;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    padding:3px;
    width:155px;
}

#player1-label {
    margin-right: 15px;
}

#player2-label.selected,
#player1-label.selected {
    border: 3px solid #435139;
    background: rgb(140, 177, 120);
    color: #435139;
}