body {
    background: black;
    font-family: monospace;
    margin-top: 50px;
}

canvas {
    border: 1px solid #ccc;
    border-top: none;
    display: block;
    margin: auto;
    width:250px;
}

.settings-container {
    background: #fafafa;
    border: 1px solid #ddd;
    border-left: none;
    color: #666;
    padding: 15px;
    overflow:hidden;
    width: 550px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
}

.settings-container .column {
    width: 47%;
    float:left;
}

.settings-container .column-right {
    float:right;
}

.settings-container h2 {
    margin: 0 0 10px 0;
}

.settings-container ul {
    padding: 0;
    list-style: none;
}

.settings-container li {
    overflow: hidden;
    margin: 15px 0;
}

.settings-container label {
    display:block;
}

.settings-container select {
    width: 100%;
}

.settings-container select[multiple="multiple"] {
    height: 100px;
}

.settings-container p {
    font-style: italic;
    font-size: .90em;
    margin: 0;
}

.settings-container input[type="text"] {
    border: 1px solid #ddd;
    color: #222;
    padding: 5px 10px;
    width: 90%;
}

.settings-container .simulate-button {
    background: green;
    border: None;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-family: monospace;
    padding: 5px 10px;
    width: 100%;
}

.game-container {
    float:left;
    width: 50%;
}

.info-container {
    float:right;
    width: 250px;
}

.info-wrap {
    border: 1px solid #ddd;
    color: #ddd;
    font-size: 18px;
    padding: 0 15px;
}

.row {
    margin: 15px 0;
    overflow: hidden;
}

.label {
    float:left;
    width: 115px;
}

.results-wrap,
.help-wrap {
    font-size: 14px;
}

.results-wrap {
    height: 350px;
    overflow-y: scroll;

}

.results-list {
    padding-left: 40px;
}

.results-list li {
    padding: 5px 10px;
}

.replay-button {
    background: #fff;
    border: None;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
}

.replay-button:hover {
    background: teal;
    color: #fff;
}

.hidden {
    display: none;
}

.clear {
    clear:both;
    height: 0;
    margin: 0;
    padding: 0;
}